<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.smsmarketing.mapper.IssueMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.smsmarketing.entity.Issue" >
    <id column="issueId" property="issueid" jdbcType="INTEGER" />
    <result column="contentId" property="contentid" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="startTime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    issueId, contentId, createTime, startTime, endTime, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_issue
    where issueId = #{issueid,jdbcType=INTEGER}
  </select>
  <select id="getEffectiveIssue" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_issue i
    where i.contentid in ( select contentid from t_content c where c.contentid = i.contentid and c.status ='OK') 
    and i.sellerid in (select sellerid from t_seller s where i.sellerid=s.sellerid and s.status = 'ON')
    and i.status = 'CRT'  
    and i.starttime &lt;= now() and i.endtime &gt;= now() 
  </select>
  <select id="getEffectiveIssueByMobile" resultMap="BaseResultMap"  parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_issue i
    where i.contentid in ( select contentid from t_content c where c.contentid = i.contentid and c.status ='OK') 
    and i.sellerid in (select s.sellerid from t_seller s where  i.sellerid=s.sellerid and s.status = 'ON'   ) 
    and i.issueId in (select issueId from t_issue_rouji where roujimobilenum = #{mobileNum,jdbcType=VARCHAR} )
    and i.status = 'CRT'  
    and i.starttime &lt;= now() and i.endtime &gt;= now() 
    
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_issue
    where issueId = #{issueid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.smsmarketing.entity.Issue" >
    insert into t_issue (issueId, contentId, createTime, 
      startTime, endTime, status
      )
    values (#{issueid,jdbcType=INTEGER}, #{contentid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.smsmarketing.entity.Issue" >
    insert into t_issue
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="issueid != null" >
        issueId,
      </if>
      <if test="contentid != null" >
        contentId,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="starttime != null" >
        startTime,
      </if>
      <if test="endtime != null" >
        endTime,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="issueid != null" >
        #{issueid,jdbcType=INTEGER},
      </if>
      <if test="contentid != null" >
        #{contentid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.smsmarketing.entity.Issue" >
    update t_issue
    <set >
      <if test="contentid != null" >
        contentId = #{contentid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="starttime != null" >
        startTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where issueId = #{issueid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.smsmarketing.entity.Issue" >
    update t_issue
    set contentId = #{contentid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      startTime = #{starttime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR}
    where issueId = #{issueid,jdbcType=INTEGER}
  </update>
  <update id="finishWhenAllFinish"  parameterType="java.lang.Integer" >
    update t_issue
    set status = 'DON'
    where not exists (
    	select 1 from t_task where t_task.issueid=issueid and status in ('CRT','ASG')
    )
    and status='CRT'
    and issueid=#{issueId,jdbcType=INTEGER}
  </update>
  <update id="finishIssue"  parameterType="java.lang.Integer" >
    update t_issue
    set status = 'DON'
    where   issueid=#{issueId,jdbcType=INTEGER}
  </update>
</mapper>