<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.smsmarketing.mapper.SettingMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.smsmarketing.entity.Setting" >
    <id column="settingName" property="settingname" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    settingName, value
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_setting
    where settingName = #{settingname,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_setting
    where settingName = #{settingname,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.smsmarketing.entity.Setting" >
    insert into t_setting (settingName, value)
    values (#{settingname,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.smsmarketing.entity.Setting" >
    insert into t_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="settingname != null" >
        settingName,
      </if>
      <if test="value != null" >
        value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="settingname != null" >
        #{settingname,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.smsmarketing.entity.Setting" >
    update t_setting
    <set >
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
    </set>
    where settingName = #{settingname,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.smsmarketing.entity.Setting" >
    update t_setting
    set value = #{value,jdbcType=VARCHAR}
    where settingName = #{settingname,jdbcType=VARCHAR}
  </update>
</mapper>